.App {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background-color: #b3de87;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

. wrapper {
  background-color: #b3de87;
}
